@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: content-box;
    height: 100vh;
    background-color: #ffffff;
}

header {
    box-sizing: content-box;
    height: 100vh;
    background-image: url(img/back01-bd.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: #6b756c83;

}

nav {
    display: flex;
    justify-content: space-around;
}


.nav_ajust {
    display: flex;
}

.nav_logo {
    display: flex;
}

.nome {
    padding: 30px 0 30px 20px;
    color: #ffff;
    display: flex;
    align-items: center;
    font-size: 120px;
    font-family: "Inria Sans", sans-serif;
}

.logo {
    padding: 10px 0;
    height: 180px;
    width: 80px;
    padding-left: 50px;
    padding-top: 15px;
}

.home-botons {
    padding-right: 280px;
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 45px;
    margin-right: 155px;
    margin-bottom: 10px;
}

.home-botons a {
    color: #000000c0;
    margin: 15px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 480;
    text-shadow: 1px 1px 1px rgba(74, 72, 72, 0.584);

}

.icon-a {
    display: flex;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    margin-top: 40px;
    padding-left: 90px;
    color: #0000007d;
    padding-right: 100px;
    font-family: "Inria Sans", sans-serif;
    text-shadow: 1px 1px 1px rgba(74, 72, 72, 0.584);
}

.home-botons a:hover,
.icon-a:hover {
    color: #ffff;
}

.cadastro {
    line-height: 1.5;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    color: #ccc9c9;
}

.cadastro:hover {
    color: #e18318;
}

.display_cad {
    width: 180px;
    height: 180px;
    background-color: #3e3c3c96;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 5px 10px 10px 10px rgba(66, 66, 66, 0.326);
}

.display_cad p {
    font-family: "Inria Sans", sans-serif;
    font-size: 16px;
}

.operation_busc {
    margin-right: 30px;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buscador {
    align-items: center;
    display: flex;
    background-color: #3e3c3cb0;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.205);
}

.buscador input,
.cidades,
.imovel {
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    ;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 150px;
    color: rgb(60, 57, 57);
    text-align: center;
    background-color: #d6cece;
    position: relative;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.buscar {
    align-items: end;
    width: 80px;
    height: 80px;
    background-color: #cb1310;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    box-shadow: 10px 10px 5px 0px rgba(17, 17, 17, 0.392);
    cursor: pointer;
}

.buscar:hover {
    color: #ffffff;
    background-color: rgb(252, 8, 8);
    ;
}

.info-in {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;

}

.info-img {
    margin-right: 50px;
}

.info-text {
    text-align: center;
    color: #e46e57;
    margin-left: 150px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 50px;
}

.info-text p {
    color: #474037;
    font-size: 40px;
    text-align: center;
}

.bt-explore {
    margin-top: 30px;
    color: #ffffff;
    border: solid 1px;
    background-color: #e15135;
    width: 170px;
    height: 70px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}

.bt-explore img {
    width: 25px;
    height: 20px;
}

.bt-explore:hover {
    background-color: #d41f1f;
    cursor: pointer;
}

section {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.conf{
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
}
.conf span{
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: #e15135;
}
.conf img{
    width: 40px;
}

.wind-1,
.wind-2,
.wind-3 {
    height: 320px;
    width: 350px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.353);
    background-color: #fcfbfbce;
    text-align: center;
    font-family: "Inria Sans", sans-serif;
}

.wind-1:hover,
.wind-2:hover,
.wind-3:hover{
    transform: scale(1.02);
}

.im-n1,
.im-n2,
.im-n3 {
    width: 350px;
    height: 250px;
}

.detalhe a {
    padding: 5px;
    background-color: #de3513ce;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #d83916;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.353);
}

.detalhe p {
    font-size: 20px;
    font-family: "Inria Sans", sans-serif;
    margin-top: 15px;
}

.detalhe img {
    width: auto;
    height: 20px;
}

.detalhe a:hover {
    background-color: #dc2525;
    color: #ffffff;
}

footer {
    display: flex;
    background-color: #99939398;
    border-top: solid 2px rgba(91, 89, 89, 0.34);
    box-shadow: 20px 1px 10px rgba(0, 0, 0, 0.667);
    justify-items: center;
    justify-content: space-between;

}

.midia {
    font-family: "Open Sans", sans-serif;
    margin-left: 30px;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.midia img {
    margin-bottom: 20px;
    height: 100px;
}

.social a {
    display: inline-block;
    list-style: none;
    color: black;
    margin: 25px 15px 15px;
}

.social i {
    color: #474037;
    font-size: 30px;
}

.social i:hover {
    color: #d41f1f;
}

.midia p h3 {
    font-size: 12px;
}

.atrib,
.atrib2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    line-height: 3;
    align-items: center;
    margin-right: 100px;
    margin-top: 70px;
    display: block;
}

.cont ul,
.cont2 ul {
    list-style: none;
    margin-top: 5px;
}

.cont a,
.cont2 a {
    font-size: 16px;
    color: #474037;
    text-decoration: none;
    margin-top: 10px;
}

.cont a:hover,
.cont2 a:hover {
    color: #d41f1f;
}

.credt{
    font-family: "Inria Sans", sans-serif;
    color: #474037c1;
    padding-top: 20px;
    margin-bottom: 5px;
    background-color: #99939398;
    display: flex;
    align-items: center;
    justify-content: center;

}

.m-visit p{
 font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content:first baseline;
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 30px;
 
}

.m-visit span{
    background-color: #e15135;
    border-radius: 15px;
}
